.giris{
    text-align: center;
    text-transform: capitalize;
    color: #000d90;
    
}

.genelnav{
    color: #000d90;
    font-size: 18px;
}

.butongiris{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}


.container{  
justify-content: center;            
align-items: center;
}

input[type="radio"]{
    display: none;
}

.cinsiyet label{
    position: relative;
    border: 2px solid #dcdcdf;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    width: 110px;
    text-align: center;
}

input[type="radio"]:checked+label{
    border: 2px solid #000d90;
    color: #000d90;
}

.arama input{
    margin-right:50px;
    margin-left: 150px;
    height: 40px;
    width: 500px;
    border-radius: 5px;
    
}

li a{
  text-decoration: none;
  text-align: center ;
  color: #000d90;
}

.açılırmenü buttonn{
    color:white;
    text-transform: capitalize;
    float: left;
}

.kıyafetdropdown{
    background-color: #000d90;
    margin-top: -20px;
}

.dropdownmenü{
    margin-left: 230px;
    text-transform: capitalize;
    color: white;
    text-align: center;
}


.kıyafetdropdown button{
    background-color: #000d90;
}
.kıyafetdropdown button:hover{
    background-color: white;
    transition: 0.1s;
    color: #000d90;
}

.dropdownmenü:hover{
    color: white;
}

footer h6{
    color: #000d90;
}
footer a{
    text-decoration: none;
    color: #000d90;
}

footer{
    border-top: 1px solid #000d90;
}

.magazasecim input{
    font-size: 18px;
    margin: 25px;
}

.magazakayıt input{
    size: 15px;
    width: 500px;
    display: block;
    margin: auto;
    text-align: center;
}

body{
    text-align: center;
}

.cizgi{
    border-left: 1px solid #000d90;
    height: 100x;
    left: 50%;
    top: 0;
    margin-left: -3px;
    padding: 20px;
    padding-left: 100px;
}

.cizgi input{
    text-align: center;
}

.sagkayit{
    margin-top:68px;
    margin-right: 100px;
}

.sagkayit input{
    text-align: center;
}


.menu {
    background: #000d90;
    color: #fff;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    transform: perspective(1000px);
    margin-left:150px ;
    margin-right: 150px;
  }
  
  .drop {
    background-color: #000d90;
    list-style-type: none;
    margin: 20px;
    padding:5px;
    position: absolute;
    
    opacity: 0;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: -99999;
  }
  
  .drop li:first-child {
    cursor: default;
  }
  
  .drop a {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    transition: all 1s;
  }
  
  .drop a:hover {
    background: #000b87;
    color: #fff;
  }
  
  .menu:hover .drop {
    background: #000d90;
    opacity: 1;
    visibility: visible;
    top: 30px;
    width:150px;
    -webkit-transition: all 0.3s, background, 0.3s 0.3s linear;
    transition: all 0.6s, background 0.3s 0.3s linear;
}

    .menuler a{
        border-bottom: 2 px solid ;
        padding-bottom: 0;
        color: #000d90;
        margin-left: 20px;
    }

    .menuler a:hover{
      text-decoration: none;
      color: #000b87;
      
    }

    .kiyafetslider{
        width:300px; 
        padding: 20px;
        float: left;
        margin-left: 70px;
    }
    .kiyafetslider:hover{
        opacity: 0.9;
        transition: 0.5s;
        width: 20%;
    }

    .kiyafetslider p{
        padding-top:250px;
        font-weight: bold;
        font-size: 40px;
        color: black;
    }

    .kiyafetslider p:hover{
        font-size: 42px ;
        transition: 0.5s;
    }

    

    .product-item{
      border: 1px solid rgb(219, 219, 219);
  }
  .product-img{
      position: relative;
      overflow: hidden;
  }
  
  .product-img:hover .btns{
      bottom: 0;
  }

  .heart-icon{
      position: absolute;
      top: 16px;
      right: 85px;
      font-size: 20px;
      color: red;
  }
  
  .btns button{
    color: black;
    border: 1px solid grey;
    left: 0;
    font-size: 15px;
    font-weight: 300;
  }

  .product-name{
      transition: 0.8s;
      margin-left: 50px;
  }
  .product-name:hover{
      color: #000d90!important;
  }
  .product-price{
      color: red;
      margin-left: 50px;
  }
  .rating{
      font-size: 13px;
      margin-left:50px;
  }
  .product-item{
      width: 300px;
  }

  .indirimsiz{
    text-decoration: line-through;
    color: black;
    font-size: 13px;
  }

  .sepetsag button{
    background-color: #000b90;
    color: white;
    margin-left: 170px;
    text-transform: capitalize;
    width: 200px;
  }

  .sepetsag button:hover{
    color: white;
    background-color: #000971;
  }

  .sepetcard{
    border: 1px solid grey;
    border-radius: 10px;
    width: 300px;
    margin: auto;
  }

  .kod{
    margin-left: 120px;
  }

.kod input{
    border: 1px solid grey;
    border-radius: 10px;
    height: 35px;
    margin: auto;
    text-align: center;
}

.kod button{
    width: 75px;
    background-color: #000b90;
    margin: auto;

}